<nav>
    <div class="nav-bar">
            <img class="brand-img"
                 src="/images/logo.svg"
                 alt=""/>
            <div class="brand">What Should We Play On Steam</div>
    </div>
</nav>
